<h1>Cats!</h1>
<img src="/assets/img/img-large-burger.jpg" alt="">

<h2>What burger do you like burgers ?</h2>

<form class= "create-form" action="/burgers/create" method="POST">
    <input type="text" name="burgername" >
    <input type="submit" value="Submit">
</form>

<br>
<h2>Unfinished burgers:</h2>
<ul>
{{#each burgers }}
 {{#unless this.devoured}}
  <li>
  <h3>Name:{{burger_name}}</h3>
  <p>Devoured:{{devoured}}</p></li>
    <form action="/burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">EAT IT!</button>
        </form>
        {{/unless}}
{{/each}}
</ul>
<h2>Finished burgers:</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
<h3>Ate Burger:{{burger_name}}</h3>
  <p>Devoured:{{devoured}}</p></li>
      </li>
    {{/if}}
  {{/each}}
</ul>